body {
    font-size: 125%;
}

.cs-btn {
    margin: 5px;
}

.cs-tabs {
    margin: 10px;
    width: 50%;
    transform: translate(50%, 0);
}

header {
    width: 50%;
    transform: translate(50%, 0);
    text-align: center;
}

footer {
    text-align: center;
    font-size: 75%;
}

p {
    display: inline;
    margin: 10px;
}