body {
    background: color-mix(in srgb, beige 100%, black);
    min-width: 550px;
    max-width: 750px;
    width: 70%;
    margin: auto;
}

.examplecontainer {
    text-align: center;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    padding: 10px;
    gap: 7px;
}

.flexitem {
    flex-grow: 1;
}

.item {
    background-color: white;
    border: 2px outset;
    padding: 0.7em;
    margin: 1em;
    overflow: auto;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

h2 {
    text-align: center;
    margin: 0.2em auto 0.5em auto;
}

p {
    font-size: 18px;
    display: inline;
}

meter {
    margin: 10px auto 5px auto;
    width: 50%;
}

textarea {
    margin: 10px auto 5px auto;
}

fieldset {
    padding: 0;
    margin: 0;
    height: 100%;
}

label {
    display: inline-block;
}

.noselect {
    user-select: none;
}

legend {
    user-select: text;
    font-size: 14px;
}