body {
    background-color:beige;
    min-width: 550px;
    max-width: 750px;
    width: 70%;
    margin: auto;
}

.examplecontainer {
    text-align: center;
}

.item {
    background-color: white;
    border: 2px outset;
    padding: 0.7em;
    margin: 1em;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

h2 {
    text-align: center;
    margin: 0.2em auto 0.5em auto;
}

p {
    font-size: 18px;
    display: inline;
}

meter {
    margin: 10px auto 5px auto;
    width: 50%;
}