body {
    background-color: burlywood;
}

#controls {
    border-style: inset;
    block-size: auto;
    width: fit-content;
    margin: 5px;
}

div {
    text-align: center;
    width: fit-content;
    margin: 5px;
}

#mazegenerate {
    font-size: 150%;
    margin: 5px;
}

label {
    display: inline; 
    font-size: 125%;
    text-align: auto;
    vertical-align: middle;
    margin: 5px;
}

input {
    display: inline;
    margin: 5px;
    text-align: center;
}

canvas {
    display: block;
    margin: 5px; 
}

input[type="radio"] {    
    vertical-align: middle;
}

#genalgo {    
    font-size: 75%;
}